@import '~bootstrap/scss/bootstrap';

body {
  background-color: #fdf780;
}

h1 {
  color: #ab3bd1;
  text-align: center;
}

.auth {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.logged-in {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.change-password {
  order: 2;
}

.pw-signout {
  display: flex;
  order: 1;
  width: auto;
}

.display-message {
  color: #ab3bd1;
  display: flex;
  justify-content: center;
}

h6 {
  color: #ab3bd1;
}

h4 {
  color: #469dbd;
}

.content {
  @include make-row;

  // &:empty {
  //   &::before {
  //     color: lighten($info, 25%);
  //     font-size: 8vh;
  //     line-height: .85;
  //     text-align: center;
  //     width: 95%;
  //   }
  // }
}

section {
  @include make-col-ready;
  @include media-breakpoint-up(md) {
    @include make-col(3);
  }
  @include media-breakpoint-up(lg) {
    @include make-col(2);
  }
  background: #fdf780;
  border: 1px solid #ab3bd1;
  margin: -1px;
  outline: none;
  padding: 1rem;

  p {
    margin-bottom: 0;
  }
}
